.avatar {
  width: 8%;
  border-radius: 50%;
}

.total {
  border: 1px solid black;
}

.author-name {
  display: inline;
}

.athor-info {
  display: flex;
}

.blog_view {
  display: flex;
}

.blog_view p {
  margin-right: 20px;
}

.blog-detail {
  margin-bottom: 50px;
}

.blog__topic {
  background-color: rgb(229, 229, 229);
  font-size: large;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
  font-weight: bold;
}

.blog__content {
  width: 90%;
  margin-bottom: 5%;
}

.blogdetail-option .option-column {
  border-radius: 10px;
  padding: 1rem 0;
  background-color: rgb(229, 229, 229);
}

.blogdetail-option i {
  font-size: 1.8rem;
  margin: 0 0 2% 0;
}

.avatar__comment {
  width: 40px;
}

.blog__comment h1 {
  font-size: 30px;
}

.commentOptions {
  border: 1px solid gray;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
}
.avatarUser {
  width: 35px;
}

.commentUser {
  margin-top: 40px;
}

.commentUser img {
  margin-right: 1rem;
}

#myButton {
  border: none;
  /* Loại bỏ viền của button */
  background-color: transparent;
  /* Đặt nền của button là trong suốt */
  padding: 0;
  /* Xóa khoảng cách giữa icon và viền của button */
}

#myButton i {
  border: none;
  /* Loại bỏ viền của icon */
}

.blog_detail {
  display: flex;
  align-items: center;
}

.blog__title {
  flex: 1;
}

.btn-allow-public {
  margin-right: 30%;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.commentReviewScroll {
  overflow: scroll;
  overflow-x: hidden;
  height: 30rem;
  width: 70%;
}
.commentU .commentContent {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 0.5rem;
  background-color: beige;
  white-space:break-spaces;
}
.answerToOnReplyForm {
  padding: 0.5rem;
  border-radius: 10px;
  width: 50%;
  background-color: bisque;
}
.answerToOnReply {
  padding: 0.3rem;
  border-radius: 10px;
  background-color: rgb(253, 212, 161);
}
