.avatar {
  width: 8%;
  border-radius: 50%;
}
.total {
  border: 1px solid black;
}
.author-name {
  display: inline;
}
.athor-info {
  display: flex;
}
.blog_view {
  display: flex;
}
.blog_view p {
  margin-right: 20px;
}
.blog-detail {
  margin-bottom: 50px;
}
.blog__content {
  width: 90%;
  margin-bottom: 5%;
}
.blogdetail-option i {
  font-size: 1.8rem;
  margin: 0 0 1% 0;
}
.fa-thumbs-up {
}
.avatar__comment {
  width: 40px;
}
.blog__comment h1 {
  font-size: 30px;
}
.blog__comment input {
  margin-top: 20px;
  padding: 5px 5px 80px;
  width: 60%;
  margin-bottom: 20px;
}
.btncmt {
  padding: 10px;
  font-size: 16px;
  background-color: #9595f8;
  border-radius: 10px;
  color: white;
}
.avatarUser {
  width: 35px;
}
.commentUser {
  margin-top: 40px;
}
.commentUser img {
  margin-right: 1rem;
}
.commentU {
  width: 50%;
}
#myButton {
  border: none; /* Loại bỏ viền của button */
  background-color: transparent; /* Đặt nền của button là trong suốt */
  padding: 0; /* Xóa khoảng cách giữa icon và viền của button */
}

#myButton i {
  border: none; /* Loại bỏ viền của icon */
}