footer {
    margin-top: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2); 
  
    
}

footer img {
        height: 50px;
    
}